body{background-image:url(../images/bg.jpg);}
.back_head{height:50px;margin-top:-8px;}
.back_container{height:230px;}
.back_foot{height:80px;background-color:#FFFAFA;opacity:0.2;margin-bottom: -6px;}
.back_login_form{margin-left:588px;margin-top:248px;}