.head{height:200px;background-color: #afd2fa; position: relative;width:1400px;}
.container{height:500px;background-color: #daf5fe;margin-top: -10px;width:1400px;}
.sidebar{width:400px;height:500px;}
.foot{height:100px;background-color: #80ffff;width:1400px;}
.navigation{height: 70px;margin-top: -76px;width:1400px;}
